spring:
  application:
    name: portfolio-service
  datasource:
    url: jdbc:postgresql://localhost:5432/portfolio_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8082

logging:
  level:
    com.propertyiq.portfolio: DEBUG
    org.springframework.web: INFO
